<!DOCTYPE html>
<html lang="en" class="openNav">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title><%= blog.title %> - Blogify V1</title>
</head>
<body>

    <!-- INCLUDING SIDE NAVIGATION -->
    <% include ./ejs-partials/navigation.ejs %>    

    <div class="new-wrapper">
        <header class="blog-header">
            <div class="image-wrapper">
                <img src="<%= blog.image %>" class="image-wrapper__image" heigth="100%" width="100%">
            </div>
            <div class="text-content">
                <div class="text-content__topper-content">
                    <h2 class="text-content__title"><%= blog.title %></h2>
                    <div class="text-content__topper-content__icons">
                        <span>6<i class="icon ion-ios-chatbubbles"></i></span>
                        <span>16<i class="icon ion-ios-heart"></i></span>
                    </div>
                </div>
                <div class="text-content__main-content">
                    <p class="text-content__text"><%= blog.body %></p>
                </div>
                <div class="text-content__bottom-content">
                    <a href="/blogs/<%= blog._id %>/edit">Edit</a>
                    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="blog-form__button">Delete</button>
                    </form>
                </div>
            </div>
        </header>
    </div>

</body>
</html>